{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": ["transform-class-properties"],
    "env": {
        "development": {
            "plugins": ["react-hot-loader/babel"]
        }
    }
}
