{
  "presets": ["stage-0","es2015","react"],
  "plugins": [
    "transform-class-properties"
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [
            {
              "transform": "react-transform-hmr",
              "imports": ["react"],
              "locals": ["module"]
            }
          ]
        }]
      ]
    }
  }
}
