{
    "extends": [
        "airbnb",
        "plugin:react/recommended",
        "prettier",
        "prettier/react",
        "prettier/standard",
        "plugin:jest/recommended"
    ],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "rules": {
        "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
        "import/prefer-default-export": 0,
        "no-console": "off",
        "react/button-has-type": "off",
        "no-underscore-dangle": "off",
        "curly": "error",
        "import/no-extraneous-dependencies": 0
    },
    "globals": {
        "expect": true,
        "document": true
    }
}
